# Project: Hypothesis Testing for Microtransactions
Brian is a Product Manager at FarmBurg, a company that makes a farming simulation social network game.  In the FarmBurg game, you can plow, plant, and harvest different crops.

Today, you will be acting as Brian's data analyst for an A/B Test that he has been conducting.

## Part 1: Testing for Significant Difference

Start by importing the following modules that you'll need for this project:
- `pandas` as `pd`

In [34]:
import pandas as pd
import numpy as np

Brian tells you that he ran an A/B test with three different groups: A, B, and C.  You're kind of busy today, so you don't ask too many questions about the differences between A, B, and C.  Maybe they were shown three different versions of an ad.  Who cares?

(HINT: you will care later)

Brian gives you a CSV of results called `clicks.csv`.  It has the following columns:
- `user_id`: a unique id for each visitor to the FarmBerg site
- `ab_test_group`: either `A`, `B`, or `C` depending on which group the visitor was assigned to
- `click_day`: only filled in *if* the user clicked on a link to purchase

Load `clicks.csv` into the variable `df`.

In [6]:
df = pd.read_csv("clicks.csv")
print(df)

                                   user_id group  click_day
0     8e27bf9a-5b6e-41ed-801a-a59979c0ca98     A        NaN
1     eb89e6f0-e682-4f79-99b1-161cc1c096f1     A        NaN
2     7119106a-7a95-417b-8c4c-092c12ee5ef7     A        NaN
3     e53781ff-ff7a-4fcd-af1a-adba02b2b954     A        NaN
4     02d48cf1-1ae6-40b3-9d8b-8208884a0904     A   Saturday
5     5a3ca2d6-25d5-4909-8f07-519f71ee55e8     A        NaN
6     6b929341-1336-4c34-965b-92e368ab160b     A        NaN
7     90b0a07b-e20e-4e0a-872e-5cc303c5676b     A        NaN
8     4b16c922-b2ab-48a8-885c-713ebf0ae159     A        NaN
9     5eb5fc03-fbda-4149-b909-4f5fbc6b152f     A        NaN
10    389ff492-4635-4535-8e42-685f771fccb1     A        NaN
11    1d25885b-56c7-4fdd-bee8-6348c1386bf0     A   Thursday
12    4546807b-8211-4e7b-94cf-4f9c879e284b     A        NaN
13    c447f7f4-a419-41c6-af31-0a17f7943816     A        NaN
14    e75754d9-9342-4f1f-84e1-75c340ef78b2     A        NaN
15    0d38042c-2296-4526-b21c-6b00805688d4     A     Friday
16    a54eeb29-1406-4032-bc2c-7d8166e4641a     A        NaN
17    b54a48e0-ae75-44db-8421-d40cfa5cc3a7     A        NaN
18    1a2ad0c4-3cb0-4346-9f77-6e42082a7433     A  Wednesday
19    512ab2bb-0c2e-46a1-9f34-40b3d2ecee1a     A        NaN
20    43d00167-768d-4488-ba32-650c8ab05a06     A        NaN
21    0d28dceb-c377-40f1-a238-a0ef1c525dd4     A    Tuesday
22    e66d263e-6746-4489-8ef6-8ab32c09a8c6     A        NaN
23    5a795c56-8047-4546-a00c-2fa5fae5474e     A        NaN
24    1cd795a0-c6a3-489d-ba09-7ad9b6d90a98     A   Thursday
25    8e65d46a-a61d-465c-b2a7-c534bec6219b     A        NaN
26    d2d00ec5-48ac-4813-9b03-cc6da1354bd7     A        NaN
27    02f09387-0949-489e-bc49-508e4ae5a0be     A     Monday
28    e395b3fb-46af-4e1c-b8d4-a1c4f490b46e     A        NaN
29    c9499054-f8ac-4973-869f-14704694a1a9     A        NaN
...                                    ...   ...        ...
4968  563462e3-f22c-453d-a645-b1cf37ac0316     C        NaN
4969  25d3b1df-8580-4533-947d-66ba9cba20c0     C        NaN
4970  ebd8e192-0a13-49df-a4c4-b9c482f48e6f     C        NaN
4971  945d3c4a-b624-45a7-b5de-81a7088d6b74     C        NaN
4972  a5073a0b-8251-4f45-92fb-97c2bc9a053f     C        NaN
4973  2c786780-b7e2-45df-9a0c-1938c484f328     C        NaN
4974  cf624881-75f8-438f-88a8-43ba537bfe3b     C        NaN
4975  9a16d458-e196-4d8c-8060-bc79d7336553     C        NaN
4976  b9b920ac-9a88-47c6-8882-00cca3ee40b1     C        NaN
4977  b2eaae1d-2505-47b9-a24a-23f6c63f93a6     C        NaN
4978  71b32b6b-cb84-42ae-8062-ca0722bcfd0a     C        NaN
4979  bce930f6-e65c-4c5e-98b8-6fc78ddf3e87     C        NaN
4980  3df3ebd6-14ca-4132-98a6-68b226d3c2e5     C        NaN
4981  1d673f80-c1c5-46e0-bc52-5dd8a133147d     C        NaN
4982  7da81a79-5a41-4e98-92ba-f00637b58bcc     C        NaN
4983  bd00f045-7f1c-4b56-8515-d574b6958898     C        NaN
4984  4970134b-b71d-4e0f-87ff-7dc2827183ed     C        NaN
4985  f1cf55e6-3baa-49ea-8465-1d713e707e03     C        NaN
4986  b8c43823-b5a6-445d-879f-990f2cf647f5     C        NaN
4987  8ef57a7e-2f04-4b04-9082-f16b929cabec     C        NaN
4988  ff2fb6ed-e14e-430f-bc0e-4d0fb15c142c     C        NaN
4989  0277cd1b-fa11-498a-94e5-ce8184eafc63     C     Monday
4990  be6899b2-4d90-4145-8803-66ed2cd3a758     C        NaN
4991  67e5ac93-6039-4fc6-9417-1af997e9ade7     C        NaN
4992  68335145-ad33-4dec-bde8-b3fd4511d76c     C        NaN
4993  1f6fd5aa-f664-4e7a-aa97-112572085691     C        NaN
4994  ad76e16a-b28f-4eab-9271-cb505e50fbcf     C        NaN
4995  c9254ed4-e47f-4c31-b541-67afb66ce273     C        NaN
4996  e734362b-42b9-4ec5-81e9-3b7ab326478e     C        NaN
4997  36b4f7d6-a150-4db0-a34b-82afe767b584     C        NaN

[4998 rows x 3 columns]

Define a new column called `is_purchase` which is `Purchase` if `click_day` is not `None` and `No Purchase` if `click_day` is `None`.  This will tell us if each visitor clicked on the Purchase link.

In [41]:
df['is_purchase'] = np.where(df['click_day'].str.len()>5, 'Purchase', 'No Purchase')

We want to count the number of users who made a purchase from each group.  Use `groupby` to count the number of `Purchase` and `No Purchase` from each `group`.  Save your answer to the variable `purchase_counts`.

**Hint**: Group by `group` and `is_purchase` and the function `count` on the column `user_id`.

In [43]:
df.groupby(['group', 'is_purchase']).count()

                   user_id  click_day
group is_purchase
A     No Purchase     1350          0
      Purchase         316        316
B     No Purchase     1483          0
      Purchase         183        183
C     No Purchase     1583          0
      Purchase          83         83

This data is *categorical* and there are *more than 2* conditions, so we'll want to use a chi-squared test to see if there is a significant difference between the three conditions.

Start by filling in the contingency table below with the correct values:
```py
contingency = [[groupA_purchases, groupA_not_purchases],
               [groupB_purchases, groupB_not_purchases],
               [groupC_purchases, groupC_not_purchases]]
```

In [44]:
contingency = [[316, 1350],
               [183, 1483],
               [83, 1583]]

Now import the function `chi2_contingency` from `scipy.stats` and perform the chi-squared test.

Recall that the *p-value* is the second output of `chi2_contingency`.

In [46]:
from scipy.stats import chi2_contingency

In [47]:
chi2_contingency(contingency)

(159.41952879874498, 2.4126213546684264e-35, 2, array([[ 194., 1472.],
        [ 194., 1472.],
        [ 194., 1472.]]))

Great! It looks like a significantly greater portion of users from Group A made a purchase.

## Part 2: Testing for Exceeding a Goal

Your day is a little less busy than you expected, so you decide to ask Brian about his test.

**You**: Hey Brian! What was that test you were running anyway?

**Brian**: It was awesome! We are trying to get users to purchase a small FarmBurg upgrade package.  It's called a microtransaction.  We're not sure how much to charge for it, so we tested three different price points: \$0.99, \$1.99, and \$4.99.  It looks like significantly more people bought the upgrade package for \$0.99, so I guess that's what we'll charge.

**You**: Oh no! I should have asked you this before we did that chi-squared test.  I don't think that this was the right test at all.  It's true that more people wanted purchase the upgrade at \$0.99; you probably expected that.  What we really want to know is if each price point allows us to make enough money that we can exceed some target goal.  Brian, how much do you think it cost to build this feature?

**Brian**: Hmm.  I guess that we need to generate a minimum of $1000 per week in order to justify this project.

**You**: We have some work to do!

How many visitors came to the site this week?

Hint: Look at the length of `df`.

In [48]:
df

                                   user_id group  click_day  is_purchase
0     8e27bf9a-5b6e-41ed-801a-a59979c0ca98     A        NaN  No Purchase
1     eb89e6f0-e682-4f79-99b1-161cc1c096f1     A        NaN  No Purchase
2     7119106a-7a95-417b-8c4c-092c12ee5ef7     A        NaN  No Purchase
3     e53781ff-ff7a-4fcd-af1a-adba02b2b954     A        NaN  No Purchase
4     02d48cf1-1ae6-40b3-9d8b-8208884a0904     A   Saturday     Purchase
5     5a3ca2d6-25d5-4909-8f07-519f71ee55e8     A        NaN  No Purchase
6     6b929341-1336-4c34-965b-92e368ab160b     A        NaN  No Purchase
7     90b0a07b-e20e-4e0a-872e-5cc303c5676b     A        NaN  No Purchase
8     4b16c922-b2ab-48a8-885c-713ebf0ae159     A        NaN  No Purchase
9     5eb5fc03-fbda-4149-b909-4f5fbc6b152f     A        NaN  No Purchase
10    389ff492-4635-4535-8e42-685f771fccb1     A        NaN  No Purchase
11    1d25885b-56c7-4fdd-bee8-6348c1386bf0     A   Thursday     Purchase
12    4546807b-8211-4e7b-94cf-4f9c879e284b     A        NaN  No Purchase
13    c447f7f4-a419-41c6-af31-0a17f7943816     A        NaN  No Purchase
14    e75754d9-9342-4f1f-84e1-75c340ef78b2     A        NaN  No Purchase
15    0d38042c-2296-4526-b21c-6b00805688d4     A     Friday     Purchase
16    a54eeb29-1406-4032-bc2c-7d8166e4641a     A        NaN  No Purchase
17    b54a48e0-ae75-44db-8421-d40cfa5cc3a7     A        NaN  No Purchase
18    1a2ad0c4-3cb0-4346-9f77-6e42082a7433     A  Wednesday     Purchase
19    512ab2bb-0c2e-46a1-9f34-40b3d2ecee1a     A        NaN  No Purchase
20    43d00167-768d-4488-ba32-650c8ab05a06     A        NaN  No Purchase
21    0d28dceb-c377-40f1-a238-a0ef1c525dd4     A    Tuesday     Purchase
22    e66d263e-6746-4489-8ef6-8ab32c09a8c6     A        NaN  No Purchase
23    5a795c56-8047-4546-a00c-2fa5fae5474e     A        NaN  No Purchase
24    1cd795a0-c6a3-489d-ba09-7ad9b6d90a98     A   Thursday     Purchase
25    8e65d46a-a61d-465c-b2a7-c534bec6219b     A        NaN  No Purchase
26    d2d00ec5-48ac-4813-9b03-cc6da1354bd7     A        NaN  No Purchase
27    02f09387-0949-489e-bc49-508e4ae5a0be     A     Monday     Purchase
28    e395b3fb-46af-4e1c-b8d4-a1c4f490b46e     A        NaN  No Purchase
29    c9499054-f8ac-4973-869f-14704694a1a9     A        NaN  No Purchase
...                                    ...   ...        ...          ...
4968  563462e3-f22c-453d-a645-b1cf37ac0316     C        NaN  No Purchase
4969  25d3b1df-8580-4533-947d-66ba9cba20c0     C        NaN  No Purchase
4970  ebd8e192-0a13-49df-a4c4-b9c482f48e6f     C        NaN  No Purchase
4971  945d3c4a-b624-45a7-b5de-81a7088d6b74     C        NaN  No Purchase
4972  a5073a0b-8251-4f45-92fb-97c2bc9a053f     C        NaN  No Purchase
4973  2c786780-b7e2-45df-9a0c-1938c484f328     C        NaN  No Purchase
4974  cf624881-75f8-438f-88a8-43ba537bfe3b     C        NaN  No Purchase
4975  9a16d458-e196-4d8c-8060-bc79d7336553     C        NaN  No Purchase
4976  b9b920ac-9a88-47c6-8882-00cca3ee40b1     C        NaN  No Purchase
4977  b2eaae1d-2505-47b9-a24a-23f6c63f93a6     C        NaN  No Purchase
4978  71b32b6b-cb84-42ae-8062-ca0722bcfd0a     C        NaN  No Purchase
4979  bce930f6-e65c-4c5e-98b8-6fc78ddf3e87     C        NaN  No Purchase
4980  3df3ebd6-14ca-4132-98a6-68b226d3c2e5     C        NaN  No Purchase
4981  1d673f80-c1c5-46e0-bc52-5dd8a133147d     C        NaN  No Purchase
4982  7da81a79-5a41-4e98-92ba-f00637b58bcc     C        NaN  No Purchase
4983  bd00f045-7f1c-4b56-8515-d574b6958898     C        NaN  No Purchase
4984  4970134b-b71d-4e0f-87ff-7dc2827183ed     C        NaN  No Purchase
4985  f1cf55e6-3baa-49ea-8465-1d713e707e03     C        NaN  No Purchase
4986  b8c43823-b5a6-445d-879f-990f2cf647f5     C        NaN  No Purchase
4987  8ef57a7e-2f04-4b04-9082-f16b929cabec     C        NaN  No Purchase
4988  ff2fb6ed-e14e-430f-bc0e-4d0fb15c142c     C        NaN  No Purchase
4989  0277cd1b-fa11-498a-94e5-ce8184eafc63     C     Monday     Purchase
4990  be6899b2-4d90-4145-8803-66ed2cd3a758     C        NaN  No Purchase
4991  67e5ac93-6039-4fc6-9417-1af997e9ade7     C        NaN  No Purchase
4992  68335145-ad33-4dec-bde8-b3fd4511d76c     C        NaN  No Purchase
4993  1f6fd5aa-f664-4e7a-aa97-112572085691     C        NaN  No Purchase
4994  ad76e16a-b28f-4eab-9271-cb505e50fbcf     C        NaN  No Purchase
4995  c9254ed4-e47f-4c31-b541-67afb66ce273     C        NaN  No Purchase
4996  e734362b-42b9-4ec5-81e9-3b7ab326478e     C        NaN  No Purchase
4997  36b4f7d6-a150-4db0-a34b-82afe767b584     C        NaN  No Purchase

[4998 rows x 4 columns]

Let's assume that this is how many visitors we generally get each week.  Given that, calculate the percent of visitors who would need to purchase the upgrade package at each price point (\$0.99, \$1.99, \$4.99) in order to generate \$1000 per week.

In [51]:
# Calculate the number of people who would need to purchase a $0.99 upgrade in order to generate $1000.
# Then divide by the number of people who visit the site each week.
(1000/.99)/4998

0.20210104243717691

In [52]:
# Calculate the number of people who would need to purchase a $1.99 upgrade in order to generate $1000.
# Then divide by the number of people who visit the site each week.
(1000/1.99)/4998

0.10054272965467594

In [53]:
# Calculate the number of people who would need to purchase a $4.99 upgrade in order to generate $1000.
# Then divide by the number of people who visit the site each week.
(1000/4.99)/4998

0.040096198800161346

Note that you need a smaller percentage of purchases for higher price points.

Now, for each group, perform a binomial test using `binom_test` from `scipy.stats`.
- `x` will be the number of purchases for that group
- `n` will be the total number of visitors assigned to that group
- `p` will be the target percent of purchases for that price point (calculated above)

Recall that:
- Group `A` is the \$0.99 price point
- Group `B` is the \$1.99 price point
- Group `C` is the \$4.99 price point

In [54]:
# import the binomial test from scipy.stats here
from scipy.stats import binom_test

In [55]:
# Test group A here
binom_test(316, 1666,.20210104243717691)

0.2111287299402726

In [60]:
# Test group B here
binom_test(183,1666,0.10054272965467594)

0.20660209246555486

In [61]:
binom_test(83,1666,0.040096198800161346)

0.045623672477172125

If any of the groups passed the binomial test with $p < 0.05$, then we can be confident that enough people will buy the upgrade package at that price point to justify the feature.

Which price point should Brian go with?  Did this surprise you?